<form [formGroup]="form" class="container mt-5">
  <div class="mb-3">
    <label for="login" class="form-label">Login</label>
    <input
      formControlName="login"
      type="login"
      class="form-control"
      id="login"
      aria-describedby="loginHelp"
      autocomplete="off"
    />

    <label *ngIf="displayError('login', 'required')" for="login" class="invalid-feedback d-block">
      Login is required
    </label>
    <label *ngIf="displayError('login', 'minlength')" for="login" class="invalid-feedback d-block">
      Login must be at least {{ form.getError('minlength', 'login').requiredLength }} characters long
    </label>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input formControlName="password" type="password" class="form-control" id="password" autocomplete="off" />

    <label *ngIf="displayError('password', 'required')" for="password" class="invalid-feedback d-block">
      Password is required
    </label>
    <label *ngIf="displayError('password', 'minlength')" for="password" class="invalid-feedback d-block">
      Password must be at least {{ form.getError('minlength', 'password').requiredLength }} characters long
    </label>
  </div>
  <div class="mb-3 form-check">
    <input formControlName="terms" type="checkbox" class="form-check-input" id="terms" autocomplete="off" />
    <label class="form-check-label" for="terms">Accept terms</label>
    <label *ngIf="displayError('terms', 'required')" for="terms" class="invalid-feedback d-block">
      You must accept terms
    </label>
  </div>
  <button (click)="sendForm()" type="submit" class="btn btn-primary">Send form</button>
</form>
